div#coverText {
	color: white;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	font-size: 90px;
}

img#coverPhoto {
	max-width: 100%;
}

div#secondaryText {
	color: white;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	font-size: 30px;
	left: 6px;
}

div#centerHeader {
	position: absolute;
}

h1 {
	font-size: 50px
}

.coverPhoto {
	background-image: url(../images/color_cover.png);
}

.whiteOut {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

i {
	margin: 4px;
	color: white;
}

a i:hover {
	color: black;
 	opacity: .5;
}
