img#coverPhoto {
	width: 100%;
}

h1 {
	font-size: 50px
}

.coverPhoto {
	background: url(../images/color_cover.png) no-repeat center center scroll;
}

.whiteOut {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	position: relative;
}

i {
	margin: 4px;
	color: white;
}

a i:hover {
	color: black;
 	opacity: .5;
}

div.content {
	position: relative;
}

div.content h3.icons {
	padding-bottom: 20px;
}

div.yellow {
	background-color: #D7CCC8;
	color: #5D4037;
}

div.blue {
	background-color: #D7CCC8;
	opacity: .5;
}