img#coverPhoto {
	max-width: 100%;
}

h1 {
	font-size: 50px
}

.coverPhoto {
	background-image: url(../images/color_cover.png);
}

.whiteOut {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

i {
	margin: 4px;
	color: white;
}

a i:hover {
	color: black;
 	opacity: .5;
}

div.content {
	position: relative;
}

div.spacer {
	height: 25px;
}